<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DAL.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="DAL.Settings.connection" connectionString="Data Source=.;Initial Catalog=Ropa;Integrated Security=True" />
    </connectionStrings>
    <applicationSettings>
        <DAL.Settings>
            <setting name="proveedor" serializeAs="String">
                <value>System.Data.SqlClient</value>
            </setting>
        </DAL.Settings>
    </applicationSettings>
</configuration>